@import "../src/index.css";

.category {
  display: flex;
  justify-content: space-around;
  margin-left: 35px;
  margin-right: 5px;
  font-weight: bold;
}

.category--selected {
  display: flex;
  justify-content: space-around;
  color: var(--color-nemo-mid);
  margin-left: 15px;
  margin-right: 5px;
  font-weight: bold;
}
.count {
  border-radius: 20px;
  background-color: var(--color-water-10);
  color: var(--color-granite);
  padding: 5px 20px;
}

.count--selected {
  background-color: var(--color-nemo-mid);
  color: var(--color-foam);
}

.nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.card {
  border: 5px;
  background-color: var(--color-foam);
  color: var(--color-granite);
  padding: 30px;
  border-radius: 10px;
  position: relative;
  flex-direction: column;
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}

.date {
  display: flex;
  justify-content: space-around;
}

.motto {
  margin: 0 0 10px 0;
}

.inline {
  display: flex;
  justify-content: space-between;
}

.stars {
  position: relative;
  top: -10px;
  right: 20px;
  width: 30px;
  height: auto;
}

.dots {
  width: 100%;
  border-bottom: 1px solid #e4e8f0;
}
