@import "../src/index.css";

.title {
  justify-content: space-around;
  display: flex;
}

.container {
  padding: 30px;
  margin: 5px auto;
  color: var(--color-granite);
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  max-width: 600px;
}

.button {
  margin-top: 0.4rem;
  background-color: var(--color-nemo);
  color: var(--color-foam);
  padding: 20px;
  width: 120px;
  border-radius: 5px;
  border: none;
}

.submit_button {
  align-self: center;
}

.inputstyle {
  border: 1px solid var(--color-water-10);
  border-radius: 5px;
  margin-bottom: 20px;
  padding-left: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
}

textarea {
  height: 150px;
  resize: none;
}

input {
  height: 50px;
}

label {
  padding: 10px;
  padding-left: 0;
}
