@import "../../src/index.css";

.footer {
  background: var(--color-granite);
  color: var(--color-foam);
  justify-content: center;
  align-items: center;
  display: flex;
  height: 80px;
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
}
